// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container h1 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 50px;
  margin: 0px 0px;
}


body {
  margin: 0;
}

.input {
  padding: 0px auto;
}

.input textarea {
  resize: none;
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: rgb(246, 246, 246);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  outline: none;
  height: 40vh;
  font-size: 15px;
  padding: 5px 5px;
}

.input {
  margin: 20px 10%;
}

.banner {
  background-color: rgb(246, 246, 246);
  margin: 0px;
  display: flex;
  border-bottom: 1px solid black;
  padding: 20px;
}

.banner-content {
  display: flex;
  margin: 0 auto;
}

#go-btn {
  margin: 10px 0;
  background-color: #5CB3CF;
  padding: 5px 20px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  outline: none;
  opacity: 0.8;
}

#go-btn:hover {
  transition: 0.2s;
  opacity: 1;
}

#fy {
  font-weight: 700;
  color: red;
}
















